* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle, #7a73d1, #736dd0, #6b67cf, #6362ce, #5a5ccd, #5355c7, #4b4dc0, #4346ba, #3b3bac, #33319f, #2a2691, #211c84);
    font-family: rajdhani;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #36454F;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: rajdhani;
    color: #ffffff;
    letter-spacing: normal;
}

section {
    padding: 100px 0;
}

#slideNavigation {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(58, 77, 57, 0.10);
    transition: height 0.5s ease-in-out;
    z-index: 1;
    padding: 0;

    @media screen and (max-width: 575px) {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(15px);
    }
}

#slideNavigation.slideMenu {
    height: 890px;
}

#slideNavigation.slideMenu::before {
    content: '';
    position: absolute;
    top: 15px;
    right: 40px;
    width: 55px;
    height: 50px;
    background: #2b2792;
    border-radius: 10px;
    border: 1px solid #fff;
}

h3 span {
    position: relative;
    color: #ffffff;
    padding-inline: 10px;
}

h3 span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7A73D1;
    z-index: -1;
}

small {
    -webkit-text-stroke: 1px #211c84;
    position: relative;
}

.textStroke {
    -webkit-text-stroke: 1px #ffffff;
}
/* .blue-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #211c84;
    z-index: -1;
} */

/* ======     ==== */

/*  */

/* #snakePath {
    stroke-dasharray: 15;
    stroke-dashoffset: 1000;
    animation: snakeWave 6s linear infinite;
}

@keyframes snakeWave {
    to {
        stroke-dashoffset: 0;
    }
}

*/


/*  */

.tmp-banner-circle .tmp-banner-circle-1,
.tmp-banner-circle .tmp-banner-circle-2,
.tmp-banner-circle .tmp-banner-circle-3,
.tmp-banner-circle .tmp-banner-circle-4 {
    width: 30px;
    height: 30px;
    background: #ffffff96;
    appearance: none;
    border-radius: 100%;
    opacity: 0.2;
    box-shadow: 0 350px 0px -3px #7871d0;
    filter: blur(6px);
}

.tmp-banner-circle-1 {
    position: absolute;
    top: 20%;
    left: 35%;
    -webkit-animation: services-triangle 5s linear infinite alternate;
    animation: services-triangle 5s linear infinite alternate;
}

.tmp-banner-circle-2 {
    position: absolute;
    left: 35%;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: services-triangle 6s linear infinite alternate;
    animation: services-triangle 6s linear infinite alternate;
}

.tmp-banner-circle-3 {
    position: absolute;
    top: 30%;
    right: 32%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: services-triangle 7s linear infinite alternate;
    animation: services-triangle 7s linear infinite alternate;
}

.tmp-banner-circle-4 {
    position: absolute;
    right: 32%;
    bottom: 20%;
    -webkit-animation: services-triangle 8s linear infinite alternate;
    animation: services-triangle 8s linear infinite alternate;
}

.tmp-banner-circle img {
    z-index: 2;
    max-width: 100%;
}

@keyframes services-triangle {
    0% {
        -webkit-transform: rotate(0deg) translateX(-50px);
        -moz-transform: rotate(0deg) translateX(-50px);
        -ms-transform: rotate(0deg) translateX(-50px);
        transform: rotate(0deg) translateX(-50px);
    }

    100% {
        -webkit-transform: rotate(360deg) translateY(100px);
        -moz-transform: rotate(360deg) translateY(100px);
        -ms-transform: rotate(360deg) translateY(100px);
        transform: rotate(360deg) translateY(100px);
    }
}

#heroSection {
    position: relative;
    height: 150vh;
    overflow: hidden;
    z-index: 0;
}

.scaling-circle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0) scale(0.8);
    width: 100vmax;
    height: 100vmax;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: -1;
}

.line {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(8px);
    will-change: opacity, transform, filter;
}

.scroll-indicator::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #ffffff97;
    transform: translateX(-50%) rotate(0deg);
    animation: rotateFade 2s linear infinite;
    filter: blur(2px);
}

@keyframes rotateFade {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    50% {
        transform: translateX(-50%) rotate(180deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.content {
    opacity: 0;
    transform: translateY(50px);
}

.content-bg {
    background: linear-gradient(90deg, rgba(77, 85, 204, 1) 0%, rgba(181, 168, 213, 1) 100%);
}

.step {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}


.listText {
    position: relative;
    text-shadow: 0 20px 0 rgba(255, 255, 255, 0.1);
}

.listText:hover span {
    transition: all 1s ease;
    scale: 1;
    transform: translateX(0);
    font-weight: 800;
}

.listText:hover span {
    transform: translateX(-100%);
    scale: 5;
    display: inline-block;
}

.stepContent .content-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 12px;
    height: 12px;
    background-color: white;
    rotate: 45deg;
    filter: blur(2px);
    transform: translateX(-50%);
    animation: fadeDot 2s linear infinite;
}

@keyframes fadeDot {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


/* ======  triangle   ==== */
#triangleSection {
    height: 220vh;
    position: relative;
    overflow: hidden;
}

.triangle {
    position: absolute;
    width: 350px;
    height: 350px;
}


#triangle1 {
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%) scale(0.2) rotate(0deg);
    filter: blur(10px);
    opacity: 0;
    z-index: 10;
}


#triangle2,
#triangle3 {
    opacity: 0;
}

#triangle2 {
    top: 25.5%;
    left: 31.5%;
    scale: 0.2;
}

#triangle3 {
    top: 25.5%;
    right: 31.5%;
    scale: 0.2;
}

.popup {
    pointer-events: none;
}

.popup.active {
    pointer-events: auto;
}

/* ======  card   ==== */
.card {
    transition: all 0.3s ease;
    will-change: transform, opacity;
}

/*  */

.contact-bg::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(255 255 255) 100%);
    opacity: 1;
    z-index: -1;
    mix-blend-mode: color;
}