* {
    box-sizing: border-box;
}

body {
    background-color: #ECFAE5;
    font-family: rajdhani;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #36454F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: rajdhani;
    color: #3A4D39;
    letter-spacing: normal;
}

section {
    padding: 100px 0;
}

#bannerTitle {
    transform-style: preserve-3d;
    perspective: 1000px;
    will-change: transform;
}


#slideNavigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: #ECFAE5;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(58, 77, 57, 0.10);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;

    @media screen and (max-width: 575px) {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(15px);
    }
}

#slideNavigation.slideMenu {
    transform: translateX(0);

}

h3 span {
    position: relative;
    color: #ffffff;
    padding-inline: 10px;
}

h3 span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3A4D39;
    z-index: -1;
}